body{
    padding: 0;
    margin: 0;
}
#navbar{
    background-color:#d9240e;
    
    
}
.navbar-wrappar{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.navbar-wrappar .logo{
    flex-wrap: wrap;
}
.navbar-wrappar ul{
   flex-wrap: wrap;
}
.navbar-wrappar ul li{
    display: inline-flex;
    color: white;
    text-transform: capitalize;
    padding: 0.8rem;
    word-spacing: 0.5rem;
    word-spacing: 3px;
    font-family: cursive;
    cursor: pointer;
}
.navbar-wrappar ul li:hover{
    color: black;
    transition-duration: 1s;
}
.container-wrappar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 31rem;
    align-items: center; */
    background-color: #e4e2e2;
    padding: 5rem 6rem;
   
}
.container-wrappar img{
    height: 12rem;
    width: 12rem;
}
.container-wrappar .box1{
   flex-basis: 5rem; 
    padding: 0.5rem;
    border: 1px solid #f5ebeb;
    background-color: #ffffff;
}
.container-wrappar .box1 h2{
    text-transform: capitalize;
    padding-left: 0.5rem;
    height: 1rem;

    }
.container-wrappar .box1 p{
    color: #aba7a7;
    padding-left: 0.5rem;
}
.container-wrappar .box1 button {
    background-color: #ff7657;
    height: 2rem;
    width: 5.5rem;
    color: #ffffff;
    margin-left: 2rem;
    text-transform: capitalize;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.container-wrappar .box1 button:hover{
    
    transition-duration: 1s;
    border: 1px solid #fc3e14;
    transition-duration: 1s;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    }
    .footer p{
        padding: 1rem;
        color: #ffffff;
        text-transform: capitalize;
    }
    .footer .icons img{
        height: 3rem;
        width: 3rem;
        padding: 1rem;
    }
/* @media all and (max-width: 1024px){
.container-wrappar{
    padding: 2rem 13rem;
}
} */

@media all and (max-width: 800px){
    .navbar-wrappar{
    flex-wrap: wrap;
}
    .container-wrappar {
    flex-wrap: wrap;
    padding: 3rem 5rem;
}
    .footer{
    justify-content: center;
    
}
}
    
@media all and (max-width: 500px){
   .navbar-wrappar{
       flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .navbar-wrappar ul li{
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
    }
  
    .container-wrappar {
        flex-wrap: wrap;
    }
    .footer{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
}
      
   